body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right,red,orange,yellow,green,blue,darkblue,violet);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background: linear-gradient(to right,red,orange,yellow,green,blue,darkblue,violet);
    color: lightgreen;
    padding: 0px;
    font-size: 16pt;
    font-style: italic;
    text-align: right;
}

a {
    color: green;
    text-decoration: none;
}

a {
    color: green;
    text-decoration: none;
}

a:visited {
    color: blueviolet;
    background-color: moccasin;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: pink;
    background-color: green;
}